body {
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 100%;
} 
.HTML {
    min-height: 100%;
} 
.header {
    background-color: steelblue;
    padding: 20px;
    width: 100%;
    position: fixed;
}
div.header > span {
    font-size: 30px;
    font-weight: 600;
}
.content {
    width: 100%;
    height: 930px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    border: 2px solid black;
    width: 235px;
    background: lightslategray;
    margin: 20px;
}
.container-photo {
    border: 2px solid black;
    width: 400px;
    height: 442px;
    display: flex;
}
.signin {
    width: 75%;
    height: 150px;
    display: inline-block;
    padding: 15px;
    margin: 20px;
    background-color: grey;
}
.signup {
    width: 75%;
 
    height: 150px;
    display: inline-block;
    padding: 15px;
    margin: 20px;
    background-color: brown
}
.footer {
    background-color: aqua;
    height: 72px;
    width: 100%;
}
.inpt {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid blue;
}
.form_title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}
.btn {
    display: block;
    background-color: dodgerblue;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: purple;
    font-weight: 600;
    margin: 10px 0;
}
.btn:hover {
    background-color: darkred;
}
.input:focus {
    background: orangered;
}
